{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block page_top %}
{% endblock %}

{% block body_content %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin_home') }}" class="btn-primary btn-lg navbar-fixed-top">Страница администратора</a></li>
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
            <li><a href="{{ path('BloggerBlogBundle_manager_home') }}" class="btn-primary btn-lg navbar-fixed-top">Панель пользователя</a></li>
        {% endif %}
    {% else %}
        <a href="{{ path('_security_login') }}" class="btn-primary btn" style="width: 150px">Вход</a>
    {% endif %}
    <h3>Регистрация</h3>
    <p>{{ message }}</p>
    <div style="display: flex; justify-content: center">
    {{ form_start(form, { 'action': path('BloggerBlogBundle_homepage'), 'method': 'POST'}) }}
    <div class="form-group">
    {{ form_widget(form.username, {'attr': {'class':'form-control form-field', 'id': 'username', 'placeholder': 'Введите логин'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.password, {'type': 'password', 'attr': {'type': 'password', 'class':'form-control form-field', 'id': 'password', 'placeholder': 'Введите пароль'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.email, {'attr': {'class':'form-control form-field', 'id': 'email', 'placeholder': 'Введите Email'}}) }}
    </div>
    <input type="submit" class="btn btn-primary" value="Зарегистрироваться"/>
    {{ form_end(form) }}
    </div>
{% endblock %}